/**************
*** General ***
***************/
body {
  min-width: 1200px;
  padding: 0;
  margin: 0;

  font-family: Roboto, Verdana, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;

  color: #ffffff;
}

h1, h2 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
}

.white-general {
  color: #ffffff;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
}

.white-general:hover,
.white-general:active {
  color: #ffbc9e;
  border-color: rgba(249, 172, 159, 0.3);
}

.black-general {
  color: #323232;
  border-bottom: 1px #999999 solid;
}

.black-general:hover,
.black-general:active {
  color: #e84d37;
  border-color: #f9cdc4;
}

.text-field {
  width: 100%;
  padding: 9px 14px;
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  vertical-align: top;

  color: #323232;
  outline: none;
  border: none;
  box-shadow:0 0 0 1px rgb(178, 178, 178);
  border-radius: 5px;
  box-sizing: border-box;
}

.label-wrapper {
  position: relative;
}

.label-hint {
  position: absolute;
  top: 9px;
  left: 14px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color: #999999;
  pointer-events: none;
}

.text-field.valid {
  box-shadow:0 0 0 1px rgba(178, 178, 178, 0.52);
}

.text-field:hover {
  box-shadow: 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.text-field:focus {
  box-shadow: 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.text-field:focus + .label-hint,
.text-field.valid + .label-hint
 {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;

  color: #999999;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.text-field:focus + .label-hint {
  color: #5b9ddf;
}

.clearfix::after {
  content: "";

  display: table;

  clear: both;
}

.controls {
  display: inline-block;

  vertical-align: top;

  border: none;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn {
  display: inline-block;
  padding: 8px 22px 9px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  vertical-align: top;

  color: #ffffff;
  background: #ec583c -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background: #ec583c linear-gradient(to top, #e74a35, #f26843);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  color: #ffffff;
  background: #ec583c -webkit-linear-gradient(top, #f58669, #ec6f5e);
  background: #ec583c linear-gradient(to bottom, #f58669, #ec6f5e);
  border: none;
}

.btn:active {
  background: #ec583c -webkit-linear-gradient(top, #f26843, #e74a35);
  background: #ec583c linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 1);
  border: none;
}

.container {
  position: relative;

  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.inner-page {
  background: #849d8f -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, transparent 656px);
  background: #849d8f linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, transparent 656px);
}

.wrapper {
  background: #849d8f url("../img/slider-1.png");
}

/*************
*** Header ***
**************/

.main-header {
  padding-top: 23px;
}

.index-page .main-header {
  margin-bottom: 28px;
}

.inner-page .main-header {
  margin-bottom: 38px;
}

/****************
*** Main menu ***
*****************/

.header-nav {
  position: relative;

  float: left;
  width: 853px;
}

.header-logo {
  position: absolute;
  left: -5px;
  top: -13px;
}

.header-logo img {
  width: 154px;
  height: 64px;
}

.header-logo a,
.header-logo a:hover,
.header-logo a:active {
  border: none;
}

.main-menu {
  margin: 0;
  margin-left: 163px;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main-menu > li {
  position: relative;

  display: inline-block;
  padding: 8px 14px;
  padding-top: 6px;

  vertical-align: top;
  border-radius: 20px;
}

.main-menu  a {
  display: block;

  font-weight: 700;
}

.main-menu > li.active {
  background-color: #d07058;
  border-radius: 20px;
}

.main-menu > li.active a {
  border: none;
}

.main-menu > li:hover {
  background-color: #f7f6f3;
}

.main-menu > li:hover a{
  color: #323232;
  border: none;
}

.main-menu li:hover > .sub-menu{
  display: block;
}

.sub-menu {
  position: absolute;
  left: -7px;
  z-index: 100;

  display :none;

  width: 145px;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  margin-top: 14px;

  list-style: none;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}


.sub-menu a,
.sub-menu .active {
  display: block;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;

  margin-top: 5px;
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  border: none;
}

.sub-menu .active {
  color: #ffffff;
  background-color: #d07058;
}

.sub-menu .active:hover {
  cursor: default;
}

.sub-menu hr {
  height: 1px;
  margin: 0 7px;
  color: #d1d0ce;
  background-color: #d1d0ce;
  border: none;
}

.sub-menu li:first-child a {
  font-weight: 700;
}

.sub-menu a:hover {
  color: #323232;
  background-color: #fbded8;
}

.sub-menu a:active {
  color: #323232;
  background-color: #f6b5a5;
}

/*****************
*** User block ***
*****************/

.user-block {
  float: right;
  max-width: 267px;
}

.user-block-controls {
  position: relative;

  padding-top: 7px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 9px;
  margin-right: 6px;

  font-size: 14px;
  line-height: 16px;
}

.user-block-controls:last-child {
  margin-right: 0;
}

.controls-search {
  width: 16px;
  height: 16px;
}

.controls-login {
  padding-left: 44px;
  padding-right: 16px;
}

.controls-cart {
  width: 65px;
  padding-left: 44px;
}
/*.controls-cart span {
  display: inline-block;
  padding-left: 37px;
}*/

.cart-full {
  color: #323232;
  background-color: #ffffff;
}

.user-block-controls::before {
  content: "";
  position: absolute;
  top: 6px;
}

.controls-search::before {
  left: 8px;

  width: 16.687px;
  height: 16.688px;

  background: url("../img/magnifier.svg") no-repeat;
}

.controls-login::before {
  left: 17px;

  width: 20.062px;
  height: 19px;

  background: url("../img/login.svg") no-repeat;
}

.cart-empty::before {
  left: 16px;

  width: 20.62px;
  height: 19.719px;

  background: url("../img/cart-empty.svg") no-repeat;
}

.cart-full::before {
  left: 16px;

  width: 21px;
  height: 20px;

  background: url("../img/cart-full.png") no-repeat;
}

.user-block-controls:not(.controls-cart):hover {
  color: #323232;
  background-color: #f8f7f4;
}

.controls-search:hover:before {
  background-image: url("../img/magnifier-hover.svg");
  background-repeat: no-repeat;
}

.controls-login:hover:before {
  background-image: url("../img/login-hover.svg");
  background-repeat: no-repeat;
}

.user-block-controls:hover .user-block-hidden {
  display: block;
}

.user-block-hidden {
  position: absolute;
  right: 0;
  z-index: 100;

  display: none;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-block {
  width: 308px;
  padding: 20px 15px;
  margin-top: 28px;

  border: 1px #d3d3d2 solid;
}

.login-form {
  width: 239px;
  padding: 20px 19px 22px;
  margin-top: 14px;
}

.login-form input {
  margin-bottom: 20px;
}

.login-form button {
  float: left;
  width: 100px;
}

.login-form .login-details-block {
  float: right;
  width: 121px;
}

.login-details-block a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.cart {
  width: 510px;
  padding: 27px 15px 20px;
  margin-top: 14px;
}

.cart-entry {
  margin-bottom: 10px;

  border-collapse: collapse;
  border-bottom: 1px #cacac7 solid;
}

.cart-entry td {
  height: 50px;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  vertical-align: top;
  text-align: left;
}

.cart-item-delete {
  position: relative;

  width: 12px;
  height: 12px;

  font-size: 0;

  border: none;
  outline: none;
  background: transparent;
}

.cart-item-delete::before,
.cart-item-delete::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;

  width:15px;
  height: 1px;

  background-color: #353535;
  cursor: pointer;
}

.cart-item-delete::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart-item-delete::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.cart-item-img {
  padding-left: 12px;
  padding-right: 12px;
}

.cart-item-img img {
  position: relative;
  top: -8px;
  width: 33px;
  height: 33px;

  border-radius: 50%;
}

.cart-item-name {
  width: 218px;
}

.cart-entry .cart-item-mass {
  width: 150px;
  text-align: center;
}

.cart-entry .cart-item-price {
  display: inline;
  padding: 0;

  color: #999999;
}

.cart-entry .cart-item-total-price {
  width: 67px;
}

.cart-final-price {
  float: right;
  margin-bottom: 15px;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.order-btn {
  clear: both;
  float: right;

  padding: 10px 15px;
}

.header-contacts {
  position: absolute;
  bottom: -60px;
  right: 27px;
}

.header-contacts span {
  display: block;
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-align: right;
}

.header-telephone {
  font-size: 22px;
  line-height: 24px;
}


/*************
*** Slider ***
**************/

.slider {
  position: relative;

  margin-top: 335px;
  margin-bottom: 42px;
}

.slider-slides {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.slides-item {
  display: none;
  width: 700px;

  text-align: center;
}

.slides-item span {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;

}

.slider-btn {

  width: 200px;
  margin-top: 32px;

  padding-left: 40px;
  padding-right: 40px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}

.slider-radio {
  display: none;
}

.slider-controls {
  position: absolute;
  left: 0;
  bottom: 22px;
}

.slider-controls label{
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;

  font-size: 0;
  vertical-align: top;

  cursor: pointer;
  border: 2px #ffffff solid;
  border-radius: 50%;
}

.slider-controls label:hover {
  background-color: #b2c1b7;
}

#slider-radio-1:checked ~ .wrapper .slider-controls label[for="slider-radio-1"],
#slider-radio-2:checked ~ .wrapper .slider-controls label[for="slider-radio-2"],
#slider-radio-3:checked ~ .wrapper .slider-controls label[for="slider-radio-3"] {
  background-color: #ffffff;
}

#slider-radio-1:checked ~ .wrapper #slide-1,
#slider-radio-2:checked ~ .wrapper #slide-2,
#slider-radio-3:checked ~ .wrapper #slide-3 {
  display: block;
}

#slider-radio-1:checked ~ .wrapper {
  background: #849d8f url("../img/slider-1.png") no-repeat top center;
}

#slider-radio-2:checked ~ .wrapper {
  background: #8996a6 url("../img/slider-2.png") no-repeat top center;
}

#slider-radio-3:checked ~ .wrapper {
  background: #9d8b84 url("../img/slider-3.png") no-repeat top center;
}


/*******************
*** Main content ***
*** promo block  ***
********************/

.index-content-block {
  position: relative;

  margin-bottom: 40px;
}

.content-block-left {
  float: left;
  width: 560px;

  box-sizing: border-box;
}

.content-block-right {
  float: right;
  width: 560px;

  box-sizing: border-box;
}

.promo-block {
  position: relative;
  width: 560px;
  height: 229px;

  padding: 20px;
  padding-top: 15px;
  padding-bottom: 25px;

  box-sizing: border-box;
  border-radius: 15px;
}

.content-block-left.promo-block {
  background: #b95675 url("../img/rasberry-bg.jpg");
}

.content-block-right.promo-block {
  background: #59341b url("../img/chocolate-bg.jpg");
}

/*.promo-block img {
  position: absolute;
  top: 0;
  left: 0;

  width: 560px;
  height: 229px;

  border-radius: 15px;
  background: transparent;
}*/

.promo-block h2 {
  margin: 0;
  margin-bottom: 15px;
}

.promo-block p {
  margin: 0;
  margin-bottom: 44px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.promo-btn {
  float: right;

  padding-top: 10px;
  padding-bottom: 13px;
}

/**************
*** Catalog ***
***************/

.catalog-table {
  font-size: 0;
}

.catalog-item {
  position: relative;

  display: inline-block;
  width: 267px;

  margin-right: 26px;
  margin-bottom: 32px;

  vertical-align: top;
  text-align: center;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item::before {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;

  display: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-bottom: 70px;

  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.catalog-item:hover::before{
  display: block;
  z-index: 100;
}

.catalog-item:hover * {
  z-index: 100;
}

.catalog-item-img {
  position: relative;

  width: 267px;
  height: 267px;
  margin-bottom: 12px;
}

.catalog-item-img img {
  width: 267px;
  height: 267px;

  border-radius: 50%;
}

.catalog-item-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background: url("../img/hit.jpg") no-repeat;
  border-radius: 50%;
}

.catalog-item-price {
  position: absolute;
  top: 208px;
  left: 0;

  display: block;

  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-price b {
  position: relative;
  margin-right: 34px;

  font-size: 45px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price b::after {
  content: "";
  position: absolute;
  top: 14px;
  right: -35px;

  width: 32px;
  height: 37px;

  background: url("../img/rub.svg") no-repeat;
}

.catalog-item-description {
  margin: 0;
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  text-align: center;
}

.catalog-item-description span {
  box-shadow: 0 1px rgba(255, 255, 255, 0.3);
}

.catalog-item:hover .catalog-item-description > span {
  box-shadow: none;
}

.quick-view-btn {
  position: absolute;
  bottom: -52px;
  left: 33px;

  display: none;
  padding-left: 16px;
  padding-right: 16px;
}

.catalog-item:hover .quick-view-btn {
  display: block;
}

/***************
*** Features ***
****************/

.features {
  margin-bottom: 40px;
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;

  color: #323232;
  background: #ece1c5 url("../img/waffle-bg.jpg") repeat;
  border-radius: 15px;
}

.features-title {
  display: block;
  margin-bottom: 10px;

  font-size: 24px;
  line-height: 30px;
}

.features-block-left {
  float: left;
  width: 540px;
}

.features-block-right {
  float: right;
  width: 540px;
}

.features-item {
  position: relative;

  padding-top: 12px;
  padding-left: 57px;
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 400;
}

.features-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 47.375px;
  height: 47.38px;
}

.features-item-equipment::before {
  background: url("../img/icecream-icon.svg") no-repeat;
}

.features-item-materials::before {
  background: url("../img/leaf-icon.svg") no-repeat;
}

.features-item-farms::before {
  background: url("../img/cow-icon.svg") no-repeat;
}

.features-item-delivery::before {
  background: url("../img/therm-icon.svg") no-repeat;
}

/***********
*** Blog ***
************/

.blog-block,
.subscribe-block {
  height: 220px;
}

.blog-block {
  padding: 22px 19px;
  padding-right: 248px;

  color: #323232;
  background: #ffffff url("../img/blog-bg.jpg") no-repeat;
  border-radius: 15px;
}

.blog-title {
  display: block;

  margin-bottom: 4px;
}

.blog-posts a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  border-bottom: 2px #000000 solid;
  /*text-decoration: underline;*/

  /*border: none;*/
}

/*.blog-posts a:hover,
.blog-posts a:active {
  border-bottom: 1px #f9cdc4 solid;
}*/

/****************
*** Subscribe ***
*****************/

.subscribe-block {
  padding: 32px 26px 43px;

  font-weight: 400;

  color: #5a5a5a;
  background: #f8f7f4 url("../img/subscribe-bg.jpg") no-repeat;
  border-radius: 15px;
}

.subscribe-block p {
  margin: 0;
  margin-bottom: 37px;
}

.subscribe-form input[type="email"] {
  float: left;
  width: 342px;
}

.subscribe-form button {
  float: right;
  width: 130px;
}


/**********
*** Map ***
***********/

.map {
  position: relative;
  width: 100%;
  height: 430px;
  background: transparent url("../img/map.jpg") center no-repeat;
}

.map-window {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;

  width: 1200px;
  height: 430px;
}


.map-feedback-block {
  position: absolute;
  right: 27px;
  top: 62px;

  width: 252px;
  padding: 27px 25px 30px;

  color: #323232;
  background-color: #ffffff;
  border-radius: 15px;
}

.map-feedback-block p {
  margin: 0;
  margin-bottom: 19px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.feedback-address {
  font-size: 18px;
  line-height: 24px;
}

.feedback-telephone {
  display: block;
  margin-top: 5px;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 22px;
}

.feedback-btn {
  display: block;
  margin-top: 22px;
}

/*Inner Page*/

/******************
*** Breadcrumbs ***
*******************/

.breadcrumbs ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: baseline;
}

.breadcrumbs li::after {
  content: "»";

  display: inline-block;
  margin-left: 8px;
  margin-right: 2px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  vertical-align: baseline;
}

.breadcrumbs li:last-child::after {
  content: "";
}

.breadcrums-active,
.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

/**************
*** Heading ***
***************/

.page-heading {
  margin:0;
  margin-bottom: 28px;
}

/*************
*** Filter ***
**************/

.filter-form {
  margin-bottom: 37px;
}

.filter-form-row {
  margin-bottom: 16px;

  font-size: 0;

  outline: none;
  border: none;
}

.filter-form-item {
  display: inline-block;
  margin-right: 13px;

  vertical-align: bottom;
}

.filter-form-item span {
  display: block;
  padding-left: 15px;
  margin-bottom: 6px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-controls {
  height: 36px;
  padding: 0 15px;

  font-size: 16px;
  line-height: 36px;
  font-weight: 500;
}

.sort-by-controls select {
  width: 163px;

  font: inherit;

  border: none;
  outline: none;
  color: #ffffff;
  background: transparent url("../img/arrow.svg") right no-repeat;

  -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
}

.sort-by-controls select::-ms-expand {
    display: none;
}

.sort-by-controls:hover {
  background-color: #ffffff;
}

.sort-by-controls:hover select {
  color: #323232;
  background: transparent url("../img/arrow-hover.svg") right no-repeat;
}

.range-scale {
  position: relative;
  top: -2px;

  display: inline-block;
  width: 188px;
  height: 4px;

  vertical-align: middle;
  background-color: rgba(248, 247, 244, 0.5);
}

.range-scale-selected {
  position: absolute;
  left: 30px;

  width: 100px;
  height: 4px;
  background-color: rgb(248, 247, 244);
}

.range-btn {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 20px;

  background-color: rgb(248, 247, 244);
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.range-btn:hover {
  cursor: pointer;
}

.range-btn-left {
  left: -10px;
}

.range-btn-right {
  right: -10px;
}

.fat-controls label {
  position: relative;

  display: inline-block;
  padding-left: 30px;
  margin-right: 16px;

  vertical-align: top;
  cursor: pointer;
}

.fat-controls label:last-child {
  margin-right: 0;
}

.fat-controls label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;

  width: 20px;
  height: 20px;
  margin-top: -10px;

  box-sizing: border-box;
  border-radius: 50%;
  border: 1px #f8f7f4 solid;
}

.fat-controls label:hover::before {
  border-width: 2px;
}

.fat-controls label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;

  display: none;
  width: 10px;
  height: 10px;
  margin-top: -5px;

  border-radius: 50%;
  background-color: #f8f7f4;
}

.fat-controls input[type="radio"] {
  display: none;
}

.fat-controls input[type="radio"]:checked + label::after {
  display: block;
}

.fat-controls input[type="radio"]:disabled + label {
  opacity: 0.4;
  cursor: default;
}

.fat-controls input[type="radio"]:disabled + label:hover::before {
  border-width: 1px;
}

.topping-controls label {
  position: relative;

  display: inline-block;
  padding-left: 32px;
  margin-right: 16px;

  vertical-align: top;
  cursor: pointer;
}

.topping-controls label:last-child {
  margin-right: 0;
}

.topping-controls label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;

  width: 20px;
  height: 20px;
  margin-top: -10px;

  box-sizing: border-box;
  border: 1px #ffffff solid;
  border-radius: 5px;
}

.topping-controls label:hover::before {
  border-width: 2px;
}

.topping-controls label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;

  display: none;
  width: 9px;
  height: 4px;
  margin-top: -4px;

  border-left: 2px #ffffff solid;
  border-bottom: 2px #ffffff solid;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.topping-controls input[type="checkbox"] {
  display: none;
}

.topping-controls input[type="checkbox"]:checked + label::after {
  display: block;
}

.topping-controls input[type="checkbox"]:disabled + label {
  opacity: 0.4;
  cursor: default;
}

.topping-controls input[type="checkbox"]:disabled + label:hover::before {
  border-width: 1px;
}

 .filter-btn-controls {
  padding-left: 30px;
  padding-right: 30px;

  font-size: 16px;
  line-height: 36px;
  font-weight: 500;

  color: #ffffff;
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 2px #ffffff;
  cursor: pointer;
}

.filter-btn-controls:hover {
  color: #323232;
  background-color: #ffffff;
}

.filter-btn-controls:active {
  background-color: #eaeaea;
  outline: none;
  box-shadow: inset 0 2px 1px #696969;
}

/****************
*** Paginator ***
*****************/

.catalog-paginator {
  float: right;
  min-width: 208px;
  margin-top: 40px;
  margin-bottom: 30px;
  margin-right: -10px;

  font-size: 0;
}

.catalog-paginator a {
  display: inline-block;
  box-sizing: border-box;
  width: 26px;
  height: 26px;

  margin-right: 3px;

  vertical-align: middle;
  text-align: center;
  line-height: 26px;

  border: none;
  border-radius: 50%;
}

.catalog-paginator a:last-child {
  margin-right: 0;
}

.catalog-paginator a:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-paginator a.disabled,
.catalog-paginator a:disabled {
  opacity: 0.2;
  cursor: default;
}

.catalog-paginator a.disabled:hover,
.catalog-paginator a:disabled:hover {
  background-color: transparent;
}

.catalog-paginator a.active,
.catalog-paginator a:active {
  color: #000000;
  background-color: #ffffff;
}

.paginator-prev {
  margin-right: 5px;
  font-size: 0;

  background: url("../img/lt.png") no-repeat;
  background-position: center center;
}

.paginator-next {
  margin-left: 5px;
  font-size: 0;

  background: url("../img/gt.png") no-repeat;
  background-position: center center;
}

/*********************
*** Pop-up windows ***
**********************/
@-webkit-keyframes scale-animation {
  0% {-webkit-transform: scale(0);transform: scale(0);}
  70% {-webkit-transform: scale(1.3);transform: scale(1.3);}
  100% {-webkit-transform: scale(1);transform: scale(1);}
}
@keyframes scale-animation {
  0% {-webkit-transform: scale(0);transform: scale(0);}
  70% {-webkit-transform: scale(1.3);transform: scale(1.3);}
  100% {-webkit-transform: scale(1);transform: scale(1);}
}

@-webkit-keyframes translate-animation {
  0% {-webkit-transform: translateX(150%) skew(-45deg);transform: translateX(150%) skew(-45deg);}
  60% {-webkit-transform: translateX(-40%);transform: translateX(-40%);}
  100% {-webkit-transform: translateX(0);transform: translateX(0);}
}

@keyframes translate-animation {
  0% {-webkit-transform: translateX(150%) skew(-45deg);transform: translateX(150%) skew(-45deg);}
  60% {-webkit-transform: translateX(-40%);transform: translateX(-40%);}
  100% {-webkit-transform: translateX(0);transform: translateX(0);}
}

@-webkit-keyframes shadow-animation {
   50% {box-shadow: 0 0 10px 10px #dd0a0a;}
}

@keyframes shadow-animation {
   50% {box-shadow: 0 0 10px 10px #dd0a0a;}
}

.modal-content-block {
  position: fixed;
  top: 15%;
  left: 50%;

  display: none;
  width: 427px;
  padding: 15px 25px 27px;

  margin-left: -238px;

  color: #000000;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal-show {
  display: block;
}

.modal-show-animate {
  display: block;
  -webkit-animation: 0.5s scale-animation;
          animation: 0.5s scale-animation;
}

.modal-error-animate {
  -webkit-animation: 0.8s shadow-animation;
          animation: 0.8s shadow-animation;
}

.modal-content-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 17px;
  height: 17px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";

  position: absolute;
  top: 8px;
  left: -3px;

  width: 23px;
  height: 2px;

  background-color: #000000;
}

.modal-content-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-content-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-content-close:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modal-content-title {
  display: block;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.modal-content-block input[type="text"],
.modal-content-block input[type="email"] {
  width: 265px;
  margin-bottom: 20px;

  font-size: 16px;
}

.modal-content-block textarea {
  height: 155px;
  margin-bottom: 26px;

  font-size: 16px;
}


.send-btn {
  float: right;
}

/*************
*** Footer ***
**************/

.main-footer {
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer-social {
  float: left;
  width: 267px;
  margin-right: 26px;
  margin-top: 15px;
}

.social-btn {
  display: inline-block;
  width: 31px;
  height: 31px;
  margin-right: 11px;
  margin-left: 3px;

  font-size: 0;
  vertical-align: top;

  opacity: 0.8;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-btn:hover {
  opacity: 1;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.71);
}

.social-btn:active {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5),
              inset 0 2px 1px #888888;
}

.social-btn-tw {
  background: url("../img/twitter.svg") no-repeat;
}

.social-btn-inst {
  background: url("../img/instagram.svg") no-repeat;
}
.social-btn-fb {
  background: url("../img/facebook.svg") no-repeat;
}
.social-btn-vk {
  background: url("../img/vk.svg") no-repeat;
}

.footer-info {
  float: left;
  width: 431px;
  margin-top: 9px;
  margin-right: 26px;
  margin-left: 128px;
}

.footer-info-left {
  float: left;
  width: 118px;
  padding-left:
}

.footer-info-right {
  float: right;
  width: 288px;
}

.footer-info p {
  margin: 0;
  text-align: left;
}

.footer-info a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-info-providers {
  position: relative;
}

.footer-info-providers a {
  font-weight: 700;
}

.footer-info-providers::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;

  width: 16px;
  height: 14px;
  margin-top: -6px;

  background: url("../img/heart.svg");
}

.footer-copyright {
  float: right;
  width: 191px;
}

.footer-copyright-logo {
  border: none;
}

.footer-copyright-logo img {
  width: 108px;
  height: 37px;
}

.footer-copyright p,
.footer-copyright a {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
